@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Poppins', sans-serif;
}
.logo{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.navbar{
  display: flex;
  background: #16395e;
  padding: 0.5rem;
  min-height: 10vh;
  justify-content: space-between;
  align-items: center;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  padding: 1rem;
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  color: white;
}
.main{
  min-height: 90vh;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.connect-btn{
  padding: 0.5rem 1rem;
  background:  #16395e;
  border-radius: 0.5rem;
}
.connect-link{
  text-decoration: none;
  color: white;
}